.button_um {
  border: none;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 600;
  color: rgb(0, 0, 0) !important;
}

button.active {
  outline: none;
  background-color: rgb(16, 153, 107) !important;
  color: white !important;
}

button:focus {
  outline: none;
  background-color: rgb(16, 153, 107) !important;
  color: white !important;
}
